[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
twine = "*"
bump2version = "*"

[packages]

[requires]
python_version = "3.8"
